WIZARD_SERVER_PORT=8080
WIZARD_SECURITY_ENABLED=true
WIZARD_HOST_SIGNER=
WIZARD_HOST_WIZARD=
WIZARD_HOST_MESSAGINGQUEUE=
WIZARD_SSLPROVIDER=acme://letsencrypt.org

# Context
WIZARD_CONTEXT_PARTICIPANT=https://www.w3.org/2018/credentials/v1,https://w3id.org/security/suites/jws-2020/v1,https://registry.lab.gaia-x.eu/development/api/trusted-shape-registry/v1/shapes/jsonld/trustframework#
WIZARD_CONTEXT_REGISTRATIONNUMBER=https://registry.lab.gaia-x.eu/development/api/trusted-shape-registry/v1/shapes/jsonld/participant
WIZARD_CONTEXT_TNC=https://www.w3.org/2018/credentials/v1,https://w3id.org/security/suites/jws-2020/v1,https://registry.lab.gaia-x.eu/development/api/trusted-shape-registry/v1/shapes/jsonld/trustframework#
WIZARD_CONTEXT_SERVICEOFFER=https://www.w3.org/2018/credentials/v1,https://w3id.org/security/suites/jws-2020/v1
WIZARD_CONTEXT_ODRLPOLICY=http://www.w3.org/ns/odrl.jsonld,https://www.w3.org/ns/odrl/2/ODRL22.json
WIZARD_CONTEXT_LABELLEVEL=https://www.w3.org/2018/credentials/v1,https://w3id.org/security/suites/jws-2020/v1,https://registry.lab.gaia-x.eu/development/api/trusted-shape-registry/v1/shapes/jsonld/trustframework#
WIZARD_CONTEXT_RESOURCE=https://www.w3.org/2018/credentials/v1,https://registry.lab.gaia-x.eu/development/api/trusted-shape-registry/v1/shapes/jsonld/trustframework#

WIZARD_SIGNER_POLICIES=integrityCheck,holderSignature,complianceSignature,complianceCheck
WIZARD_MULTIPART_MAX_FILE_SIZE=1MB
WIZARD_MULTIPART_MAX_REQUEST_SIZE=1MB

# AWS
WIZARD_AWS_accessKey=
WIZARD_AWS_hostedZoneId=
WIZARD_AWS_secretKey=
WIZARD_AWS_serverIp=
WIZARD_AWS_baseDomain=
WIZARD_AWS_bucket=
WIZARD_AWS_region=

# DB
WIZARD_DATABASE_POSTGRES_HOST=
WIZARD_DATABASE_POSTGRES_NAME=
WIZARD_DATABASE_POSTGRES_PASSWORD=
WIZARD_DATABASE_POSTGRES_PORT=
WIZARD_DATABASE_POSTGRES_USERNAME=

# k8s 
WIZARD_K8S_BASE_PATH=https://localhost:8443
WIZARD_K8S_SERVICE_NAME=
WIZARD_K8S_TOKEN=

# Keycloak
WIZARD_KEYCLOAK_ACTIONTOKENLIFESPAN=300
WIZARD_KEYCLOAK_AUTHSERVER=
WIZARD_KEYCLOAK_CLIENTID=
WIZARD_KEYCLOAK_CLIENTSECRET=
WIZARD_KEYCLOAK_API_DOCS_CLIENT=gx-wizard-doc-client
WIZARD_KEYCLOAK_PUBLICCLIENTID=gx-wizard
WIZARD_KEYCLOAK_REALM=gaiax
WIZARD_KEYCLOAK_REQUIREDACTIONSEMAILREDIRECTIONURL=

# Vault
WIZARD_VAULT_HOST=
WIZARD_VAULT_PORT=
WIZARD_VAULT_SCHEME=https
WIZARD_VAULT_AUTHENTICATION=APPROLE
WIZARD_VAULT_SECRET_PATH=keypair
WIZARD_VAULT_ROLEID=
WIZARD_VAULT_SECRETID=
